.aggregationFunctionPicker {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 0.4rem;
  margin-right: 0.3rem;
  padding: 0.2rem;

  @media screen and (prefers-color-scheme: dark) {
    border: 1px solid #ccc;
  }

  :global(.menu) {
    @media screen and (prefers-color-scheme: dark) {
      background-color: #333 !important;
    }

    :global(.item) {
      @media screen and (prefers-color-scheme: dark) {
        color: #fff !important;
      }
    }
  }
}
