.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .link {
    margin-top: 0.17rem;

    &:hover .linkIcon,
    &:hover .linkText {
      cursor: pointer;
    }

    &:hover .linkText {
      border-bottom: 1px solid #fff;
    }

    .linkIcon {
      text-align: right;
    }

    .linkText {
      color: var(--header-foreground-color);
      font-family: var(--brand-font-family);
      font-size: var(--app-navigation-font-size);
      margin-left: 0.2rem;
      margin-right: 40px;

      &.selected {
        border-bottom: 1px solid #fff;
      }
    }

    &:last-child {
      .linkText {
        padding-right: 0;
      }
    }
  }
}
