.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  .link {
    margin-top: 0.17rem;

    .linkIcon {
      text-align: right;
    }

    .linkText {
      color: var(--header-foreground-color);
      font-family: var(--brand-font-family);
      font-size: var(--app-navigation-font-size);
      margin-left: 0.2rem;
      padding-right: 40px;

      &:hover,
      &:focus {
        color: var(--secondary-text-color-on-hover);
        cursor: pointer;
      }

      &.selected {
        color: var(--secondary-text-color-on-hover);
      }
    }

    &:last-child {
      .linkText {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
