.header {
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-top: 2px rgb(150, 150, 150) solid;
  display: none;
  height: 3rem;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: var(--topmost-z-index);

  &.visible {
    display: flex;
  }

  &.fullScreen {
    top: 0;
  }

  .dashboardSelectors {
    display: flex;
    flex-direction: column;

    .dashboardSelector {
      color: #000000;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .dashboardGroupSelector {
      color: var(--small-font-color);
      font-size: 0.8rem;
    }
  }

  .keyboardShortcuts {
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    .keyboardShortcutsTable {
      display: none;
      margin-left: 2rem;

      &:not(:first-child) {
        margin-left: 1rem;
      }

      &.visible {
        display: inline-table;
      }

      td {
        color: #999999;
        font-size: 0.6rem;
        line-height: 0.6rem;
        padding: 0.25rem;

        .keyboardShortcutIcon {
          margin: 0;
        }

        span {
          background-color: rgba(220 220 220 / 80%);
          border: 1px solid #bbbbbb;
          box-shadow: 1px 1px 1px rgba(110 110 110 / 90%);
          border-radius: 0.25rem;
          padding: 0.15rem;

          &.first {
            margin-right: 0.2rem;
          }

          &.second {
            margin-left: 0.2rem;
          }
        }

        &:first-child {
          text-align: left;
        }
      }
    }
  }

  .emptySpace {
    flex-grow: 1;
  }

  .actionIcon {
    cursor: pointer;
    margin-right: 1rem;

    &:hover,
    &:focus {
      color: var(--secondary-text-color-on-hover) !important;
    }
  }
}
