.header {
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-top: 2px rgb(150, 150, 150) solid;
  display: none;
  height: 3rem;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: var(--topmost-z-index);

  &.visible {
    display: flex;
  }

  &.fullScreen {
    top: 0;
  }

  .dashboardSelectors {
    display: flex;
    flex-direction: column;

    .dashboardSelector {
      color: #000000;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .dashboardGroupSelector {
      color: var(--small-font-color);
      font-size: 0.8rem;
    }
  }

  .keyboardShortcutsTable {
    display: inline-table;
    margin-left: 2rem;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    td {
      color: #999999;
      font-size: 0.6rem;
      line-height: 0.6rem;
      padding: 0.16rem;

      .keyboardShortcutIcon {
        margin: 0;
      }

      &:first-child {
        border: 1px solid #bbbbbb;
        border-radius: 0.25rem;
        text-align: center;
      }

      &:last-child {
        padding-left: 0.5rem;
      }
    }
  }

  .emptySpace {
    flex-grow: 1;
  }

  .actionIcon {
    cursor: pointer;
    margin-right: 1rem;

    &:hover,
    &:focus {
      color: var(--secondary-text-color-on-hover) !important;
    }
  }
}
