.modal {
  margin: 0 !important;
  min-width: 100vw;
  min-height: 100vh;
  top: 0 !important;
}

.formField {
  margin-top: 3rem !important;
}

.tabPane {
  padding: 0rem 0rem !important;

  .formGroup {
    margin: 0 !important;

    .reportingPeriodValue {
      width: 3rem !important;
    }
  }
}

td:last-child {
  padding-left: 1rem;
}
