.modal {
  margin: 0 !important;
  min-width: 33vw;
}

label {
  min-width: 12rem !important;
}

.formField {
  margin-top: 3rem !important;
}

.tabPane {
  padding: 0rem 0rem !important;

  .formGroup {
    margin: 0 !important;

    .reportingPeriodValue {
      width: 2rem !important;
    }
  }
}

