.formField {
  margin-top: 2rem !important;
}

.tabPane {
  padding: 0rem 0rem !important;

  .formGroup {
    margin: 0 !important;

    .reportingPeriodValue {
      width: 3rem !important;
    }
  }
}

td:last-child {
  padding-left: 1rem;
}
