.mapHeader {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  display: flex;
  position: absolute;
  width: calc(100% - 4px);
  z-index: 900;

  @media screen and (prefers-color-scheme: dark) {
    background: linear-gradient(rgba(0,0,0, 1), rgba(0, 0, 0, 0.5));
  }

  .mapLayer {
    align-items: center;
    background-color: rgba(244, 127, 49, 0.25);
    border-right: 1px solid #F47F31;
    border-bottom: 1px solid #F47F31;
    display: flex;

    .checkbox {
      margin-left: 0.2rem;
      margin-right: 0.5rem;
      input {
        z-index: auto;
        opacity: 1 !important;
      }
      label {
        display: none;
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      padding: 0.2rem 0.3rem;

      .title {
        font-size: 1.1rem;
        font-weight: bold;

        @media screen and (prefers-color-scheme: dark) {
          color: #f2f2f2;
        }
      }

      .subtitle {
        color: var(--small-font-color);
        font-size: 1rem;
      }
    }
  }

  .addIcon {
    font-size: 1.2rem !important;
    margin-left: 1rem;

    &:hover {
      color: var(--brand-color-2);
      cursor: pointer;
    }
  }

  .geometrySelector {
    flex-shrink: 1;
    margin-left: 1rem;
    margin-right: 1rem;

    :global(.dropdown) {
      min-height: 2rem !important;
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important;

      @media screen and (prefers-color-scheme: dark) {
        background-color: transparent !important;
        border: 1px solid #ccc;
      }

      :global(.divider.text) {
        line-height: 2rem !important;
      }

      &:global(.icon) {
        line-height: 2rem !important;
      }

      &:global(.icon) {
        color: #000 !important;
        border: none !important;

        @media screen and (prefers-color-scheme: dark) {
          color: #f2f2f2 !important;
        }
      }
    }
  }

  .actionButtons {
    flex-shrink: 1;

    .icon {
      color: #000;
      cursor: pointer;
      font-size: 1.2rem !important;
      margin-left: 0.5rem;

      @media screen and (prefers-color-scheme: dark) {
        color: #f2f2f2 !important;
      }

      &:hover {
        color: var(--brand-color-2);
      }
    }
  }
}
