.listItem {
  align-items: center !important;
  display: flex !important;
  font-weight: bold !important;
  padding-bottom: 0.4rem !important;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
  }

  &:hover,
  &:focus {
    cursor: default;

    .removeIcon {
      visibility: visible;
    }
  }

  &:last-child {
    padding-bottom: 0.5rem !important;
  }

  &:not(:last-child) {
    border-bottom: 1px #ddd solid;
  }

  .selectedDimension {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .dimensionName {
      font-size: 0.95rem;
      margin-right: 0.4rem;

      @media screen and (prefers-color-scheme: dark) {
        color: #eee;
      }
    }

    .visualizationType {
      color: #999;
      font-size: 0.9rem;

      @media screen and (prefers-color-scheme: dark) {
        color: #ddd;
        font-weight: normal;
      }
    }
  }

  .removeIcon {
    color: #000;
    visibility: hidden;

    @media screen and (prefers-color-scheme: dark) {
      color: #fff;
    }

    &:hover,
    &:focus {
      color: #F47F31;
      cursor: pointer;
    }
  }
}
