.xAxisCategoriesShownCount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;

  @media screen and (prefers-color-scheme: dark) {
    color: #fff;
  }
}

.fetchedRowCount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;

  @media screen and (prefers-color-scheme: dark) {
    color: #fff;
  }
}

.label {
  align-self: center;
  flex-shrink: 0;
  margin-right: 0.5em;
}

.numberInput input {
  width: 5.5em;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #000 !important;
    color: #fff !important;
  }
}

.numberInput button {
  @media screen and (prefers-color-scheme: dark) {
    background-color: #ccc !important;
  }
}
