.tab {
  width: 100%;

  :global(.menu) {
    align-items: center !important;
  }

  :global(.item) {
    .closeIcon {
      display: none;
      padding-left: 0.5rem;
    }

    &:hover .closeIcon {
      display: inline-block;
    }
  }

  :global(.item.active) {
    background-color: #000 !important;
  }

  .chartArea {
    height: calc(100vh - 3rem - 2.85714286em - 4px);
  }
}
