.selectedListItem {
  align-items: center !important;
  display: flex !important;
  font-weight: bold !important;
  padding-bottom: 0.2rem !important;
  padding-top: 0.2rem !important;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
    color: #fff;
    font-weight: normal !important;
  }

  &:hover {
    cursor: default !important;
  }

  &:hover .removeIcon {
    visibility: visible !important;
  }

  .candlestickVisualizationTypeSelector {
    margin-right: 0.3rem;
  }

  .measureName {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: var(--large-font-size);
    text-overflow: ellipsis;
  }

  .removeIcon {
    color: #000;
    visibility: hidden;

    @media screen and (prefers-color-scheme: dark) {
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
