.selectedListItems {
  background-color: rgb(220 220 220);
  padding-left: 0.4rem;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
  }
}

.divider {
  border-top: 1px solid #ddd;
  padding-top: 0.4rem;

  @media screen and (prefers-color-scheme: dark) {
    border-top: 1px solid #666;
  }
}
