.layoutIcons {
  display: flex;
  flex-wrap: wrap;

  %abstract-layout-icon {
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }

  .layoutIcon1 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_1.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_1_on_hover.svg");
    }
  }

  .layoutIcon2 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_2.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_2_on_hover.svg");
    }
  }

  .layoutIcon3 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_3.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_3_on_hover.svg");
    }
  }

  .layoutIcon4 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_4.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_4_on_hover.svg");
    }
  }

  .layoutIcon5 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_5.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_5_on_hover.svg");
    }
  }

  .layoutIcon6 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_6.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_6_on_hover.svg");
    }
  }

  .layoutIcon7 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_7.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_7_on_hover.svg");
    }
  }

  .layoutIcon8 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_8.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_8_on_hover.svg");
    }
  }

  .layoutIcon9 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_9.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_9_on_hover.svg");
    }
  }

  .layoutIcon10 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_10.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_10_on_hover.svg");
    }
  }

  .layoutIcon11 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_11.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_11_on_hover.svg");
    }
  }

  .layoutIcon12 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_12.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_12_on_hover.svg");
    }
  }

  .layoutIcon13 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_13.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_13_on_hover.svg");
    }
  }

  .layoutIcon14 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_14.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_14_on_hover.svg");
    }
  }

  .layoutIcon15 {
    @extend %abstract-layout-icon;

    background-image: url("../../../../../assets/images/icons/layout/layout_icon_15.svg");

    &.selected,
    &:hover,
    &:focus {
      background-image: url("../../../../../assets/images/icons/layout/onhover/layout_icon_15_on_hover.svg");
    }
  }
}
