.uiHintsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;

  .chartSize {
    color: #c0c0c0;
    font-size: 3rem;
    line-height: 3rem;

    .widthOrHeight {
      font-size: 1.25rem;
    }

    .timesChar {
      font-size: 2rem;
    }
  }

  .uiHints {
    color: #c0c0c0;
    font-size: 2rem;
    line-height: 1.7rem;
    white-space: break-spaces;

    @media screen and (prefers-color-scheme: dark) {
      color: rgb(140, 140, 140);
    }
  }

  .smallText {
    color: #c9c9c9;
    font-size: 1.1rem;
    line-height: 1rem;
    margin-top: 5px;
    white-space: break-spaces;

    @media screen and (prefers-color-scheme: dark) {
      color: rgb(180, 180, 180);
    }
  }
}
