.ag-theme-balham {
  .ag-root-wrapper {
    @media (prefers-color-scheme: dark) {
      background-color: #000;
      border: none;
    }

    .ag-menu {
      background-color: #ccc;
    }

    .ag-menu-header {
      background-color: #ccc;
    }

    .ag-header-row {
      color: #000;
      font-family: var(--brand-font-family);
      font-size: 1rem;
      font-weight: normal;
      height: 10px;

      @media (prefers-color-scheme: dark) {
        background-color: #ccc;
      }

      .ag-header-cell {
        @media (prefers-color-scheme: dark) {
          border-right: 1px solid #bbb;
        }
      }
    }

    .ag-row {
      border: none;

      @media (max-width: 1024px) {
        border-bottom: 1px solid #222;
      }
    }

    .ag-row-selected {
      .ag-cell {
        @media (prefers-color-scheme: dark) {
          background-color: var(--brand-color-1);
          color: #fff;
        }
      }
    }

    .ag-cell {
      font-family: var(--brand-font-family);
      font-size: 1rem;

      @media (max-width: 1024px) {
        border-right: 1px solid #222;
        line-height: 38px;
      }

      @media (prefers-color-scheme: dark) {
        background-color: #000;
        border-right: 1px solid #181818;
        color: #fff;
      }
    }

    .ag-text-field-input {
      background-color: #ccc !important;

    }
  }

  .ag-paging-panel {
    color: #000;
    font-family: var(--brand-font-family);
    font-size: 1rem;

    @media (prefers-color-scheme: dark) {
      background-color: #ccc;
    }
  }
}
