.ag-theme-balham {
  --ag-border-color: #222;

  .ag-root-wrapper {
    @media (prefers-color-scheme: dark) {
      background-color: #000;
      border: none;
    }

    .ag-menu {
      @media (prefers-color-scheme: dark) {
        background-color: #ccc;
      }
    }

    .ag-menu-header {
      @media (prefers-color-scheme: dark) {
        background-color: #ccc;
      }
    }

    .ag-header {
      @media (prefers-color-scheme: dark) {
        background-color: #222 !important;
        border: none !important;
      }
    }

    .ag-header-row {
      background-color: #e9ebec;
      color: #000;
      font-family: var(--brand-font-family);
      font-size: 1rem;
      font-weight: bold;
      height: 10px;

      @media (prefers-color-scheme: dark) {
        background-color: #222;
        color: #fff;
        font-weight: normal;
      }

      .ag-icon {
        @media (prefers-color-scheme: dark) {
          color: #fff;
        }
      }
    }

    .ag-row {
      border: none;

      @media (any-pointer: coarse) {
        border-bottom: 1px solid #222;
      }
    }

    .ag-row-selected {
      .ag-cell:not(:first-child) {
        background-color: var(--brand-color-1);
        color: #fff !important;
      }
    }

    .ag-cell {
      color: #000;
      font-family: var(--brand-font-family);
      font-size: 1rem;

      @media (any-pointer: coarse) {
        border-right: 1px solid #222;
        line-height: 38px;
      }

      @media (prefers-color-scheme: dark) {
        background-color: #000;
        border-right: 1px solid #181818;
        color: #fff;
      }
    }

    .ag-text-field-input {
      color: #000;

      @media (prefers-color-scheme: dark) {
        background-color: #222 !important;
        color: #fff;
      }
    }

    .ag-number-field-input {
      color: #000;

      @media (prefers-color-scheme: dark) {
        background-color: #222 !important;
        color: #fff;
      }
    }
  }

  .ag-paging-panel {
    background-color: #e9ebec;
    color: #000;
    font-family: var(--brand-font-family);
    font-size: 1rem;

    @media (prefers-color-scheme: dark) {
      background-color: #222;
      border: none !important;
      color: #fff;
    }

    .ag-icon {
      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }
}
