:root {
  --brand-color-1: #005AFF;
  --transparent-brand-color-1: rgb(179, 209, 255, 0.25);
  --transparent-brand-color-1-on-hover: rgb(179, 209, 255, 0.2);
  --brand-color-2: #37CC73;
  --red-color: #E23B3B;
  --brand-font-family: 'Arimo', sans-serif;
  --brand-font-weight: 400;
}
