@import 'nokia-brand.css';

@media (prefers-color-scheme: light) {
  :root {
    --base-font-size: 80%;
    --background-color: #fff;
    --primary-text-color: rgb(0 0 0);
    --primary-text-color-on-hover: var(--brand-color-1);
    --secondary-text-color: rgb(255 255 255);
    --secondary-text-color-on-hover:  #005AFF;
    --header-background-color: linear-gradient(90deg, rgba(0,90,255,1) 0%, rgba(55,204,115,1) 100%);
    --header-foreground-color: var(--secondary-text-color);
    --list-item-color: #333;
    --selected-list-item-color: rgb(0 0 0);
    --app-title-font-size: 2rem;
    --app-navigation-font-size: 1rem;
    --large-font-size: 1rem;
    --body-font-size: 0.9rem;
    --small-font-size: 0.7rem;
    --small-font-color: rgb(70 70 70);
    --drop-zone-font-color: rgb(120 120 120);
    --notification-z-index: 900;
    --topmost-z-index: 999;
    --on-top-of-map-z-index: 1000;
    --data-explorer-page-left-pane-default-width: 22rem;
    --data-explorer-page-right-pane-default-width: 22rem;
    --dashboards-page-header-background-color: #e9ebec;
    --dashboards-page-left-pane-default-width: 27rem;
    --reports-page-left-pane-default-width: 30rem;
    --dashboards-page-right-pane-default-width: 25rem;
    --triggers-page-left-pane-default-width: 22%;
    --dialog-header-background-color: var(--brand-color-1);
    --dialog-color: #000;

    font-size: var(--base-font-size);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-font-size: 80%;
    --background-color: #000000;
    --primary-text-color: rgb(255 255 255);
    --primary-text-color-on-hover: var(--brand-color-1);
    --secondary-text-color: rgb(255 255 255);
    --secondary-text-color-on-hover: #005AFF;
    --header-background-color: linear-gradient(90deg, rgba(0,90,255,1) 0%, rgba(55,204,115,1) 100%);
    --header-foreground-color: var(--secondary-text-color);
    --list-item-color: #a9a9a9;
    --selected-list-item-color: #fff;
    --app-title-font-size: 2rem;
    --app-navigation-font-size: 1rem;
    --large-font-size: 1rem;
    --body-font-size: 0.9rem;
    --small-font-size: 0.7rem;
    --small-font-color: rgb(70 70 70);
    --drop-zone-font-color: #555;
    --notification-z-index: 900;
    --topmost-z-index: 999;
    --on-top-of-map-z-index: 1000;
    --data-explorer-page-left-pane-default-width: 22rem;
    --data-explorer-page-right-pane-default-width: 22rem;
    --dashboards-page-header-background-color: #CCCCCC;
    --dashboards-page-left-pane-default-width: 25rem;
    --dashboards-page-right-pane-default-width: 25rem;
    --reports-page-left-pane-default-width: 30rem;
    --triggers-page-left-pane-default-width: 22%;
    --dialog-header-background-color: var(--brand-color-1);
    --dialog-footer-background-color: #191919;
    --dialog-content-background-color: #191919;
    --dialog-header-and-footer-border-color: #333;
    --dialog-color: #DDD;

    font-size: var(--base-font-size);
  }
}
