.slideChangeIntervalInput {
  margin-right: 0.5rem;
  width: 4rem;

  & > input {
    background-color: #FFFFFF !important;
    padding-bottom: 0.4em !important;
    padding-top: 0.4em !important;
  }
}
