.modal {
  margin: 0 !important;
  min-width: 100vw;
  min-height: 100vh;
  top: 0 !important;

  .header {
    display: flex !important;
    padding-left: 0 !important;

    .icon {
      line-height: 3rem !important;

      &:hover {
        cursor: pointer;
      }
    }

    .text {
      flex-grow: 1;
      text-align: center;
    }
  }

  .label {
    width: 12rem !important;
  }

  input {
    padding-left: 0.5rem !important;
  }

  input.critical {
    background-color: #e23b3b !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    padding-left: 0.5rem !important;
  }
}
