.visualizationColorPicker {
  border-radius: 0.1rem;
  background-size: 1rem 1rem;
  display: inline-block;
  height: 1rem;
  margin-right: 0.3rem;
  width: 1rem;

  :global(.menu) {
    @media screen and (prefers-color-scheme: dark) {
      background-color: #333 !important;
    }
  }
}
