.listItem {
  align-items: baseline !important;
  display: flex !important;
  font-weight: bold !important;
  padding-bottom: 0.2rem !important;
  padding-top: 0.2rem !important;

  @media screen and (prefers-color-scheme: dark) {
    background-color: #222;
  }

  .removeIcon {
    color: #000;
    visibility: hidden;

    @media screen and (prefers-color-scheme: dark) {
      color: #fff;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &:hover,
  &:focus {
    cursor: default;

    .removeIcon {
      visibility: visible;
    }
  }

  .dimensionName {
    flex-shrink: 0;
    font-size: 0.9rem;
    margin-right: 0.4rem;

    @media screen and (prefers-color-scheme: dark) {
      color: #eee;
    }
  }

  .visualizationType {
    color: var(--small-font-color);
    flex-grow: 1;
    font-size: var(--small-font-size);

    @media screen and (prefers-color-scheme: dark) {
      color: #ddd;
      font-weight: normal;
    }
  }
}
