.chart {
  border: 1px solid #e9e9e9;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #222;
  }

  height: 100%;

  &:hover {
    @media (any-pointer: fine) {
      border: 1px solid var(--brand-color-1);
    }
  }

  &.scrollable {
    padding-bottom: 1rem !important;
  }

  & > div {
    min-height: auto !important;
  }

  .scrollbar {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    visibility: hidden;
    width: calc(100% - 4rem) !important;

    @media (any-pointer: coarse) {
      display: none !important;
    }

    &.vertical {
      height: calc(100% - 4rem) !important;
      margin-bottom: 2rem;
      margin-right: 0;
      margin-top: 2rem;
      width: auto !important;
    }

    @media (prefers-color-scheme: dark) {
      :global(.button) {
        color: #bbb;
      }

      :global(.track) {
        background-color: #333 !important;
      }

      :global(.thumb) {
        background-color: #bbb !important;
      }
    }

    &.selected {
      visibility: visible;
    }
  }

  &.selectedChart {
    @media (any-pointer: fine) {
      background-color: var(--transparent-brand-color-1);
      border: 1px solid var(--brand-color-1);

      @media (prefers-color-scheme: dark) {
        background-color: #131313;
      }
    }
  }

  .search {
    align-items: baseline;
    display: flex;
    position: absolute;
    right: 5.6rem;
    top: 8px;
    width: 30%;

    .searchInputLabel {
      padding-right: 0.5rem;
      width: auto;

      @media (prefers-color-scheme: dark) {
        color: #f2f2f2;
      }
    }

    .searchInput {
      flex-grow: 1;

      input {
        padding: 0.1rem 0 !important;

        @media (prefers-color-scheme: dark) {
          background-color: transparent !important;
          border: none !important;
          border-bottom: 1px solid #444 !important;
          border-radius: 0 !important;
          color: #fff !important;
        }

        &:focus {
          @media (prefers-color-scheme: dark) {
            background: none !important;
            box-shadow: none !important;
            transition: none !important;
          }
        }

        &.borderless {
          padding: 0 0 !important;
          border-bottom: none !important;
        }
      }
    }
  }

  .searchIcon {
    color: #000 !important;
    font-size: 1.1rem;
    position: absolute;
    right: 3.6rem;
    top: 8px;
    visibility: hidden;
    z-index: var(--topmost-z-index);

    @media screen and (prefers-color-scheme: dark) {
      color: #f2f2f2 !important;
    }

    &:hover {
      color: var(--brand-color-2) !important;
      cursor: pointer;
    }
  }

  &:hover .searchIcon {
    visibility: visible;
  }

  .windowIcon {
    color: #000 !important;
    font-size: 1.1rem;
    position: absolute;
    right: 1.7rem;
    top: 8px;
    visibility: hidden;
    z-index: var(--topmost-z-index);

    @media (prefers-color-scheme: dark) {
      color: #f2f2f2 !important;
    }

    &:hover {
      color: var(--brand-color-2) !important;
      cursor: pointer;
    }

    &.maximized {
      color: var(--brand-color-2) !important;
    }
  }

  &:hover .windowIcon {
    visibility: visible;
  }

  .menu {
    color: 000;
    font-size: 1.1rem;
    position: absolute;
    right: 0;
    top: 5px;
    visibility: hidden;
    z-index: var(--topmost-z-index);

    @media (prefers-color-scheme: dark) {
      color: #f2f2f2;
      top: 8px;
    }
  }

  &:hover .menu {
    visibility: visible;
  }
}
