.modal {
  margin: 0 !important;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
}

label {
  min-width: 14rem !important;
}

.formField:not(:first-child) {
  margin-top: 4rem !important;
}

.formField:last-child {
  margin-top: 5rem !important;
}

.tabPane {
  padding: 0rem 0rem !important;

  .formGroup {
    margin: 0 !important;

    .reportingPeriodValue {
      width: 2rem !important;
    }
  }
}

