.relativeTimeSelector {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  margin-top: 0.2rem;

  .relativeTimeValueInput {
    margin-left: 0.3rem;

    :global(input) {
      width: 2.9rem !important;
    }
  }

  .relativeTimeUnitDropdown {
    margin-left: 0.3rem;
    width: 5rem;
  }
}
