.layoutIcons {
  display: flex;
  flex-wrap: wrap;

  %abstract-layout-icon {
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }

  .layoutIcon1 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_1.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_1.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_1.svg');
    }
  }

  .layoutIcon2 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_2.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_2.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_2.svg');
    }
  }

  .layoutIcon3 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_3.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_3.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_3.svg');
    }
  }

  .layoutIcon4 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_4.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_4.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_4.svg');
    }
  }

  .layoutIcon5 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_5.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_5.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_5.svg');
    }
  }

  .layoutIcon6 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_6.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_6.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_6.svg');
    }
  }

  .layoutIcon7 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_7.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_7.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_7.svg');
    }
  }

  .layoutIcon8 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_8.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_8.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_8.svg');
    }
  }

  .layoutIcon9 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_9.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_9.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_9.svg');
    }
  }

  .layoutIcon10 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_10.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_10.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_10.svg');
    }
  }

  .layoutIcon11 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_11.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_11.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_11.svg');
    }
  }

  .layoutIcon12 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_12.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_12.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_12.svg');
    }
  }

  .layoutIcon13 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_13.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_13.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_13.svg');
    }
  }

  .layoutIcon14 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_14.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_14.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_14.svg');
    }
  }

  .layoutIcon15 {
    @extend %abstract-layout-icon;

    background-image: url('../../../../../../../assets/images/icons/layout/lightmode/layout_icon_15.svg');

    @media (prefers-color-scheme: dark) {
      background-image: url('../../../../../../../assets/images/icons/layout/darkmode/layout_icon_15.svg');
    }

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../../../assets/images/icons/layout/onfocusorhover/layout_icon_15.svg');
    }
  }
}
