.pagePane {
  background-color: #fff;
  display: none;
  height: calc(100vh - 3rem);
  max-width: 50vw;
  position: fixed;
  top: 3rem;
  z-index: var(--topmost-z-index);

  &.fullScreen {
    height: 100vh;
    top: 0;
  }

  &.left {
    border-right: 1px solid rgb(200, 200, 200);
    left: 0;
  }

  &.right {
    border-left: 1px solid rgb(200, 200, 200);
    right: 0;
  }

  &.visible {
    display: block;
  }

  &.permanentlyVisible {
    display: block;
    position: static;
    z-index: 0;
  }
}
