label {
  min-width: 11rem !important;
}

.formField {
  margin-top: 3rem !important;
}

.noLeftPadding {
  padding-left: 0 !important;
}

.message {
  bottom: 1rem;
  left: -25rem;
  position: absolute !important;
  transition: left 1s !important;

  &.visible {
    left: 0.6rem;
  }
}
