.aggregationFunctionPicker {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 0.4rem;
  margin-right: 0.3rem;
  padding: 0.2rem !important;

  @media screen and (prefers-color-scheme: dark) {
    border: 1px solid #ccc !important;
  }

  :global(.menu) {
    @media screen and (prefers-color-scheme: dark) {
      background-color: #333 !important;
    }

    :global(.item) {
      padding: 0.2rem !important;

      @media screen and (prefers-color-scheme: dark) {
        color: #fff !important;
      }
    }
  }

  :global(.divider.text) {
    padding-right: 0 !important;
  }
}
