.actionIcon {
  color: var(--secondary-text-color);
  line-height: var(--body-font-size);
  margin-right: 0.65rem !important;

  &:hover {
    color: var(--secondary-text-color-on-hover) !important;
  }

  &:last-child {
    margin-right: 1rem !important;
  }
}
