.actionIcon {
  align-items: center;
  color: #000;
  line-height: var(--body-font-size);
  margin-right: 0.65rem !important;
  visibility: hidden;

  @media screen and (prefers-color-scheme: dark) {
    color: #f2f2f2 !important;
  }

  &:last-child {
    margin-right: 1rem !important;
  }
}

.maximizedSelector .actionIcon {
  visibility: visible;
}

.title {
  align-items: center !important;
  color: #000 !important;
  display: flex !important;
  font-size: 1rem !important;
  font-weight: bold;
  white-space: nowrap;

  @media screen and (prefers-color-scheme: dark) {
    color: #f2f2f2 !important;
  }

  &:hover .actionIcon {
    visibility: visible;
  }
}

.titleSpan {
  flex-grow: 1;
  padding-right: 1rem;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.leftPaneSelector {
  .actionIcon:hover {
    color: var(--brand-color-1) !important;

    @media screen and (prefers-color-scheme: dark) {
      color: var(--brand-color-2) !important;
    }
  }

  .title {
    background-color: #ddd;

    @media screen and (prefers-color-scheme: dark) {
      background-color: #333;
    }

    &:hover,
    &:focus {
      color: var(--brand-color-1) !important;

      @media screen and (prefers-color-scheme: dark) {
        color: var(--brand-color-2) !important;
      }
    }
  }
}

.rightPaneSelector {
  .actionIcon {
    color: #fff;
  }

  .actionIcon:hover {
    color: var(--brand-color-1) !important;

    @media screen and (prefers-color-scheme: dark) {
      color: var(--brand-color-2) !important;
    }
  }

  .title {
    background-color: #ddd;

    @media screen and (prefers-color-scheme: dark) {
      background-color: #333;
    }

    &:hover,
    &:focus {
      color: var(--brand-color-1) !important;

      @media screen and (prefers-color-scheme: dark) {
        color: var(--brand-color-2) !important;
      }
    }
  }
}
