.actionIcon {
  align-items: center;
  color: var(--secondary-text-color);
  line-height: var(--body-font-size);
  margin-right: 0.65rem !important;
  visibility: hidden;

  &:last-child {
    margin-right: 1rem !important;
  }
}

.maximizedSelector .actionIcon {
  visibility: visible;
}

.title {
  align-items: center !important;
  color: var(--secondary-text-color) !important;
  display: flex !important;
  font-size: 1rem !important;
  font-weight: bold;

  &:hover .actionIcon {
    visibility: visible;
  }
}

.titleSpan {
  flex-grow: 1;
}

.leftPaneSelector {
  .actionIcon:hover {
    color: var(--secondary-text-color-on-hover) !important;
  }

  .title {
    background-color: var(--brand-color-2);

    &:hover,
    &:focus {
      color: var(--secondary-text-color-on-hover) !important;
    }
  }
}

.rightPaneSelector {
  .actionIcon:hover {
      color: var(--brand-color-2) !important;
  }

  .title {
    background-color: var(--brand-color-1);

    &:hover,
    &:focus {
      color: var(--brand-color-2) !important;
    }
  }
}
