.message {
  margin: 0;
  padding-bottom: 2rem !important;
  position: absolute !important;
  right: 1rem;
  top: 3rem;

  @media (prefers-color-scheme: dark) {
    background-color: #CCCCCC !important;
  }
}

.keyboardShortcuts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 1rem;
  row-gap: 1.25rem;

  .keyboardShortcutsTable {
    display: inline-table;

    td {
      color: #000;
      font-size: 1rem;
      line-height: 0.9rem;
      padding: 0.5rem;

      .keyboardShortcutIcon {
        margin: 0;
      }

      &:first-child {
        width: 10rem;
        text-align: right;
      }

      span {
        background-color: rgba(220 220 220 / 80%);
        border: 1px solid #909090;
        box-shadow: 1px 1px 1px rgba(80 80 80 / 90%);
        border-radius: 0.5rem;
        padding: 0.25rem;

        &.first {
          margin-right: 0.3rem;
        }

        &.second {
          margin-left: 0.2rem;
        }
      }
    }
  }
}
