.listItem {
  color: var(--primary-text-color);
  font-family: var(--brand-font-family) !important;
  font-size: var(--body-font-size) !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;

  &.selected {
    color: var(--selected-list-item-color);
    font-weight: bold !important;
  }

  &:hover {
    color: var(--selected-list-item-color);
    cursor: pointer !important;
    font-weight: bold !important;

    .listItemIcon {
      display: table-cell;
    }
  }

  .listItemIcon {
    color: var(--small-font-color);
    display: none;
    padding-right: 0.7rem;
    padding-top: 0;
    transition: color 0.1s ease;
    vertical-align: top;

    @media (prefers-color-scheme: dark) {
      color: var(--primary-text-color);

      &:hover {
        color: var(--brand-color-2);
      }
    }
  }

  .listItemContent {
    display: table-cell;
    padding: 0 0 0 0.5em;
    vertical-align: top;
    width: 100%;
  }
}
