.header {
  align-items: center;
  background-color: var(--dashboards-page-header-background-color);
  display: none;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: var(--topmost-z-index);

  @media screen and (prefers-color-scheme: light) {
    border-top: 2px rgb(150, 150, 150) solid;
  }

  @media screen and (any-pointer: coarse) {
    display: flex;
    height: 3.5rem;
    left: 0;
    min-width: 100%;
    position: sticky;
    top: 0;
    z-index: var(--topmost-z-index);
  }

  &.visible {
    display: flex;
  }

  &.fullScreen {
    top: 0;
  }

  .dashboardSelectors {
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;

    @media screen and (any-pointer: coarse) {
      flex-grow: 1;
      margin: 0 0.75rem;
    }

    %abstractSelector {
      color: #000000;

      @media screen and (prefers-color-scheme: dark) {
        color: #fff;
      }

      @media screen and (any-pointer: coarse) {
        padding-bottom: 0.25rem;
      }

      :global(.divider.text) {
        padding-right: 0 !important;
      }

      .tabs {
        font-size: 1rem;
        margin: 1.2rem;

        span {
          font-weight: normal;
          padding-bottom: 0.2rem;

          &:hover {
            cursor: pointer;
            font-weight: bold;
          }

          &.selected {
            font-weight: bold;
            border-bottom: 2px solid #000;

            @media screen and (prefers-color-scheme: dark) {
              border-bottom: 2px solid #fff;
            }
          }

          &:last-child {
            margin-left: 1rem;
          }
        }
      }

      :global(.menu) {
        max-height: calc(100vh - 8rem);
        max-width: 80vw;

        @media screen and (prefers-color-scheme: dark) {
          background-color: #222;
        }

        :global(.icon) {
          @media screen and (prefers-color-scheme: dark) {
            color: #fff !important;
            opacity: 1;
          }
        }

        input {
          background-color: #ffffff !important;
          font-size: 1rem;
          padding-bottom: 0.4rem;
          padding-top: 0.4rem;

          @media screen and (prefers-color-scheme: dark) {
            background-color: #222 !important;
            border: 1px solid #fff;
            color: #fff;
          }
        }

        & > :global(.item) {
          @media screen and (prefers-color-scheme: dark) {
            color: #fff;

            &:hover {
              background-color: #333;
            }
          }

          @media screen and (any-pointer: fine) {
            padding-top: 0.3rem !important;
            padding-bottom: 0.3rem !important;

            &:last-child {
              margin-bottom: 1rem !important;
            }
          }
        }
      }
    }

    .dashboardSelector {
      @extend %abstractSelector;

      font-size: 1.1rem;

      @media screen and (prefers-color-scheme: light) {
        font-weight: bold;
      }
    }

    .dashboardGroupSelector {
      @extend %abstractSelector;

      font-size: 0.85rem;

      :global(.divider.text) {
       color: #ccc !important;
      }
    }
  }

  .actionIcon {
    @media screen and (prefers-color-scheme: dark) {
      color: #fff;
    }

    font-size: 1.1rem !important;
    cursor: pointer;
    line-height: 0.9 !important;
    margin-right: 1rem;

    @media screen and (any-pointer: coarse) {
      margin: 0;
    }

    &:hover {
      @media screen and (any-pointer: fine) {
        color: var(--primary-text-color-on-hover) !important;
      }
    }
  }
}
