.modal {
  margin: 0 !important;
  width: 100vw !important;
  height: 100vh;
  top: 0 !important;

  .header {
    display: flex !important;
    padding-left: 0 !important;

    .icon {
      line-height: 3rem !important;

      &:hover {
        cursor: pointer;
      }
    }

    .text {
      flex-grow: 1;
      text-align: center;
    }
  }

  .forms {
    display: flex;

    .form {
      width: 50%;

      &:last-child {
        margin-left: 5rem;
      }
    }
  }

  .relatedEvents {
    height: 52vh;
    margin-top: 1rem;
    width: 100%;
  }

  .label2 {
    padding-top1: 1rem;
  }

  .label {
    width: 14rem !important;
  }

  input {
    padding-left: 0.5rem !important;
    line-height: 2rem !important;

    @media screen and (prefers-color-scheme: dark) {
      color: #c0c0c0 !important;
    }
  }

  input.critical {
    color: #f2f2f2 !important;
    background-color: #e23b3b !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    padding-left: 0.5rem !important;
  }

  .textArea {
    height: 22rem;
    @media screen and (prefers-color-scheme: dark) {
      color: #c0c0c0 !important;
    }
  }
}
