.slideChangeIntervalInput {
  margin-right: 0.5rem;
  width: 4rem;

  & > input {
    background-color: #fff !important;
    padding-bottom: 0.3em !important;
    padding-top: 0.3em !important;

    @media screen and (prefers-color-scheme: dark) {
      background-color: var(--dashboards-page-header-background-color) !important;
      border: 1px solid #fff !important;
      color: #fff !important;
    }
  }
}
